*{
  box-sizing: border-box;
}
.head
{
  text-align: center;
  margin-bottom: 20px;
}
.heading
{
  font-size: 65px;
  color:#333333;
  font-weight:800;
}
.semi-heading
{
  font-size: 22px;
  font-weight: bolder;
}
form
{
  /* overflow: hidden; */
  border-radius: 40px;
  fill: #1A1A1A;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-right: 10px;
}
.search
{
  max-width: 100%;
  width:700px;
  height: 55px;
  padding-left: 25px;
  font-size:larger;
  border-radius: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid white;
  font-weight:600;
  padding-right: 45px;
}
.search:focus
{
  background-color: rgba(255, 255, 255, 0.2);
  border:3px solid white;
}
input::placeholder
{
  font-weight:600;
}
.btn2
{
  fill: #1A1A1A;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  font-weight: bold;
  border-top-right-radius: 12px; 
  border-bottom-right-radius: 12px;
  font-size:17px;  
  background-color:#FDD333;
  color: white;
  border: none;
  position: absolute;
  right: 26px;
  top:6px;
}
.search2
{
  position: absolute;
  right: 26px;
  top:6px;
  cursor: pointer;
}
.main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 83vh;
  position: relative;
}
.navbar-nav
{
  background-color: rgba(0, 0, 0, 0.4);
  width: 70px;
  min-height: 100%;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  gap: 5rem;
  position:fixed;
  top: 0;
  right: 0;
  align-items: center;
}
.drag-icon
{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: 3px solid white;
  flex-direction: column;
}
.drag-icon-i
{
  border-top: 3.5px solid white;
  color:transparent;
  border-radius: 2px;
}
.link
{
  /* font-size:larger; */
  font-weight: bold;
}
.navbar-toggler
{
  border: 2px solid black;
}
.form-check
{
  position: absolute;
  right: 30px;
}
.container2
{
  width: 100%;
  max-width: 700px;
  position: relative;
  /* background-color: red; */
  height: 100px;
  margin-right: 20px;
}
.privacy-Service
{
  font-size:medium;
  text-align: center;
  margin-top: 10px;
}
.loader
{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* background-color: red; */
}

body
{
  font-family: 'Raleway';
  background-image: linear-gradient(to bottom right, rgba(123,183,246,255), rgba(128,184,245,255), rgba(215,236,219,255), rgba(242,243,209,255), rgba(251,243,197,255), rgba(255,212,185,255), rgba(255,186,170,255), rgba(255,170,165,255)80%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.info-box-1
{
  min-height: 240px;
  max-width:720px;
  border-radius: 15px;
  border: 3px solid white;
  padding: 15px;
  margin-top: 40px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-family: 'DM Sans';
  gap: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 80px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.progress-bar-container {
  width: 100%;
  background-color: #f3f3
}
.thumbnail{
  height: 220px;
  width:100%;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.link
{
  color: red;
}
.dropdown
{
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid white;
  max-width:250px;
  width: 82%;
  height: 43px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.download
{
  background-color: rgba(0, 255, 0, 0.2);
  border: 3px solid green;
  border-radius: 7px;
  font-weight: bold;
  width: 82%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  max-width:250px;
}
.switch {  
  position: absolute;
  right: 320px; 
  display: inline-block;  
  width: 60px;  
  height: 29px; 
  top: 30px; 
  transform: rotate(90deg); 
}  

.switch input {  
  opacity: 0;  
  width: 0;  
  height: 0; 
}  

.slider {  
  position: absolute;  
  cursor: pointer;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  background-color: rgba(255, 255, 255, 0.2);
  transition: .4s;  
  border-radius: 34px;  
  border: 2px solid white;
}  

.slider:before {  
  position: absolute;  
  content: "";  
  height: 26px;  
  width: 26px;  
  background-color: rgba(255, 255, 255, 0.3);
  transition: .4s;  
  border-radius: 50%;  
  border: 2px solid white;
}  

input:checked + .slider {  
  background-color: #2196F3;  
}  

input:checked + .slider:before {  
  transform: translateX(30px);  
}
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right:140px;
  border: 2px solid white;
  border-radius: 30px;
  box-sizing: border-box;
  top:17px;
  font-family: 'Dm-sans';
}
.weather
{
  display: flex;
  justify-content: center;
  width: 50%;
  font-weight: bold;
  font-size:x-large;
  padding-right: 4px;
}
.date-time
{
  display: flex;
  justify-content: center;
  border-left: 2px solid white;
  width: 50%;
  font-weight: bold;
  padding-left: 10px;
}

.duration
{
  font-size: x-small;
  background-color: red;
}

@media only screen and (max-width:1500px) {
  .heading
  {
    font-size: 50px;
  }
}

@media only screen and (max-width:800px) {
  form
  {
    margin-right: 70px;
    margin-left: 30px;
  }
  .search2
  {
    right: 85px;
  }
  
}

@media only screen and (max-width: 700px) {
  .heading {
    margin-right: 70px;
  }
  .privacy-Service
  {
    font-size: small;
    margin-left: 30px;
    margin-right: 70px;
  }
  .info-box-1
  {
    flex-direction: column;
    gap: 6rem;
  }
  .semi-heading
  {
    font-size: 17px;
    margin-right: 70px;
  }
  .video-title
  {
    width: 100%;
    height: 150px;
  }
  .qt
  {
    width:90%;
    text-align: center;
  }
  .info
  {
    width: 90%;
  }
  
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
  }
  img
  {
    width: 35px;
    height: 30px;
  }
  .semi-heading
  {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 25px;
  }
  img
  {
    width: 30px;
    height: 25px;
  }
  .semi-heading
  {
    font-size: 12px;
  }
  .info-box-1
  {
    gap: 2rem;
  }
}
@media only screen and (max-width:370px)
{
  .container
  {
    right: 90px;
  }
  .switch
  {
    right: 270px;
  }
}
 .Insta_logo
{
  width: 35px;
  border-radius: 20px;
} 
.thumbnailReel{
  height: 290px;
  width:40%;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}